div{
    border: none;
}
body {
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #1f2937 ;
}
.hed3{
    font-size: 24px;
    color: #F9FAF8;
}
.linkhed{
    text-decoration: none;
    color: #F9FAF8;
}
.hedlinks{
    display: flex;
    gap: 70px;
    align-items: center;
    
}
.headlink{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}
.content{
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.headinfo{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.signupone{
    background-color: #3882F6 ;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}
button{
 border: none;
}

.bighead{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}
.contentinfo{
    color: #E5E7EB ;
    font-size: 18px;
}
#firstimg{
    width: 340px;
    height: 170px;
    margin-bottom: 20px;
}

.info{
    display: flex;
    align-items: center;
    flex-direction: column;

}
.rndm{
    display: flex;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}
.secondimg{
    width: 150px;
    height: 150px;
    border: solid #3882F6 3px;
    border-radius: 15px;
}
.bodyimages{
    display: flex;
    align-items: center;
    gap: 10px;
}
figcaption{
    font-size: 12px;
    color: #b7b7b7;
    text-align: center;
}
.quote{
    display: flex;
    align-items: center;
    font-size: 36px ;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
    background-color: #E5E7EB;
    justify-content: space-around;


}
.quotetext{
    display: flex;
    align-items: center;
}
.action{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}
.bluebox{
    display: flex;
    background-color: #3882F6;
    flex-direction: row;
    border-radius: 8px;
    justify-content: space-around;
    width: 700px;
}
.signuptwo{
    background-color: #3882F6 ;
    font-weight: bold;
    color: white;
    border: solid white 1px;
    border-radius: 5px;
    width: 60px;
    height: 20px;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    margin-top: 40px;
    margin-right: 5px;
    margin-bottom: 10px;
}
.callto{
    color: white ;
    margin-left: 10px;

}
.actionhed{
    font-size: medium;
}
.paction{
    font-size:x-small;
    margin-right: 15px;
}
.footer{
    display:flex;
    align-items: center;
    background-color: #1f2937;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}
.copy{
    color: #b7b7b7;
    font-size: xx-small;
}